.microphone-box-main{
  padding: 0vw 4vw 0vw 2vw;
  background: white;
  position: absolute;
  left: 5vw;
  top: 40vw;
}
.microphone-img{
  position: relative;
  right: 2vw;
  width: 10vw;
}
.microphone-wordbox h4{
  font-size: 1.2vw;
  color: #335379;
  margin-bottom: 0vw;
}
.microphone-wordbox p{
  font-size: 1.2vw;
  margin-top: 0vw;
}
.third-microphone-box{
  border-bottom: solid black 0.1vw;
}
.flip-arrows{
  color: red;
  transform: rotate(90deg);
}
.see-all-div{
  position: relative;
  right: 7.5vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #335379;
}
.see-all-div img{
  position: relative;
  bottom: 1.6vw;
  width: 0.7vw;
}
