.things-to-do-main{
  background: white;
  position: absolute;
  height: 18.7vw;
  top: 2.45vw;
  right: 5vw;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  /*width: 50vw;*/
  /*border: solid black 0.25vw;*/
}
.flex{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.things-to-do-main div:nth-child(1){
  position: relative;
  left: 5vw;
}

.things-to-do-main h1{
  padding: 0.5vw 1vw 0.5vw 1vw;
  margin: 0vw 1vw 0vw 0vw;
  font-size: 3vw;
  background: #642667;
  color: white;
  font-weight: bolder;
}
.things-to-do-main h2{
  z-index: 3000;
  font-weight: bolder;
  font-size: 2vw;
  margin: 0vw 2vw 0vw 0.5vw;
}
.things-to-do-main img{
  position: relative;
  width: 25vw;
  left: 7vw;
}

.to-do-img{
  overflow: hidden;
}
.to-do-img p{
  position: relative;
  right: 40vw;
  font-size: 8vw;
  z-index: 1000;
  color: white;
}
.hidden-div{
  opacity: 0;
  position: absolute;
  left: 7vw;
  background: #642667;
  height: 33vw;
  width: 42vw;
}
